*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;600;700&display=swap');

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-thumb{
    background: rgb(116, 116, 116); 
    border-radius: 10px;
}

::-webkit-scrollbar-track{
    background:rgb(32, 32, 32);

}

a{
    text-decoration: none;
}
body{
    width: 100%;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(19, 19, 19);
    height: 90px;
    width: 100%;
    position: relative;
}
section{
    width: 100%;
}


.header_content{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*BTN-Navbar*/
.btn-primario{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 10%;
  width: 90px;
  border-radius: 40px;
}
.btn-primario a{
    padding:1em;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-family:'Raleway', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius:40px;
    background-image: linear-gradient(75deg,  #b1b1b1, #505050, #b1b1b1); 
    border-radius:40px;
    background-size: 300%;
    background-position: left;
    
    transition: 300ms background-position ease-in-out;
}

.btn-primario :hover{
    background-position: right;
}
.btn-secundario{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:center;
    top: 4%;
    top: 24px;
    right: 2%;
    border-radius:40px;
}
.btn-secundario a{
    padding:1em;
    letter-spacing: 2px;
    color: #ffffff;
    font-size: 12px;
    font-family:'Raleway', sans-serif;
    font-weight: bold;
    text-align: center;
    width:90px;
    background: rgb(254,215,116);
    background-image: linear-gradient(75deg,  #ffc953, #8a641f, #ffc953); 
    border-radius:40px;
    background-size: 300%;
    background-position: left;
    
    transition: 300ms background-position ease-in-out;
    
}
.btn-secundario :hover{
    background-position: right;
}
  

/*Menus-Styles*/
.nav_list {
    display: flex;
}

.nav_list a{
    font-family: 'Raleway', sans-serif;
    color: #898196;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

.nav_list li{
    display: flex;
    align-items: center;
    text-align: -webkit-match-parent;
}
.nav_list a:hover {
    transition: 180ms;
    border-bottom: 2px solid rgb(149, 83, 216);
    color: rgb(177, 177, 177);
}
/*Tela-1*/
.container{
    position: absolute;
    height:100px;
    width: 70%;
    left:22%;
    top: 30%;
}
.container span{
    font-size: 75px;
}
.animation{
    text-align:  center;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    color:rgb(255, 255, 255);
    display: inline-block;
    animation: fadeIn 1.5s forwards;
 
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.first{
    display:inline-block;
    animation: firstspan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
    background:rgb(0, 0, 0);
    z-index: 1;
    border-radius: 20px;
    font-weight: 500;
}
.slide{
    display: inline-flex;
    overflow:hidden;
}
.second{
    font-weight: 100;
    z-index:-1;
    display: inline-block;
    animation: secondspan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes fadeIn{
    0%{
        opacity:0;
        transform: scale(1);
    }
    50%{
        opacity: 1;
        transform:scale(1);
    }
    100%{
        opacity: 1;
        transform:scale(1);
    }
}
@keyframes firstspan{
    0%{
        transform: translateX(50%);
    }
    50%{
        transform: translateX(50%);
    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes secondspan{
    0%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

/*Tela-2*/

#tela_2{
    width: 100%; 
}
.image{
    height: 1200px;
}
.image img{
    position: relative; 
    width:100%;
    height:1200px;
}
.texto_1 { 
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 20px;
    width: 500px;
    color: rgb(255, 255, 255);
    position: absolute; 
    margin-top: -40%;
    left: 60%; 
 }
 .texto_2 { 
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 20px;
    width: 500px;
    color: rgb(255, 255, 255);
    position: absolute; 
    margin-top: -80%;
    right: 60%;
 }

/**/
#tela_3{
    width: 100%; 
}
.metro_imagem{
    height: 1200px;
}
.metro_imagem img{
    position: relative;
    width:100%;
    height:1200px;
}
/*Footer*/
.styles_footer2{
    
    background:rgb(19, 19, 19);
    color:rgb(255, 255, 255);
}

.styles_footer_contents{
    display: flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height: 100px;
}

.styles_footer_contents2 h1{
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items:center;
    width:100%;
    height: 100px;
}

/*Pagina de cadastro*/
.texto_apresentacao{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagina_cadastro{
    font-family: "Raleway";
    margin: 0;
    padding: 0;
    background-image: url(../image/trem.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cadastro{
  width: 593px;
  height: auto;
  border: 2px solid rgb(95, 95, 95);
  border-radius: 20px;
  color: #fff;
  background-color: rgba(26, 26, 26, 0.8);
  box-sizing: border-box;
  padding: 30px 28px;
}

.cadastro h1{
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
}

.cadastro input {
    width: 100%;
    margin-bottom: 15px;
}
form [placeholder]{
    padding-left: 30px;
    padding-right: 30px;
}
.cadastro input[type="text"], input[type="password"],input[type="email"], input[type = "date"], input[type = "tel"] {
    border-radius: 20px;
    background: #3E3E3E;
    outline: none;
    height: 50px;
    color: white;
    font-size: 16px;
}
.cadastro a, .cadastro span{
    font-family: 'Raleway';
    font-size: 24px;
    color: #878787;
}
.cadastro span{
    font-weight: bold;
}
.recaptcha{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.g-recaptcha{
    padding-top: 20px;
}

.cadastrar{
    padding-top: 15px;
}

.cadastrar input[type = submit] {
  background-image: linear-gradient(75deg, #ffc953, #413012);
  color: white;
  font-size: 24px;
  width: 100%;
  height: 78px;
  border-radius: 11px;
  margin-bottom: 1px;
}
.cadastrar input[type = submit]:hover{
  cursor:pointer;
  background-image: linear-gradient(75deg, #413012, #ffc953 );
}

@media screen and (max-width: 426px){
  .cadastro{
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .cadastro a, .cadastro span{
    font-size: 16px;
  }
}



/*Pagina de login*/

.pagina_login{
    font-family: "Raleway";
    margin: 0;
    padding: 0;
    background-image: url(../image/trem.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.pagina_login p {
  margin-top: 30px;
    font-size: 24px;
    line-height: 38px;
    text-align: left;
    color: white;
}

.login{
  width: 540px;
  height: 550px;
  border: 2px solid rgb(95, 95, 95);
  border-radius: 20px;
  color: #fff;
  background-color: rgba(26, 26, 26, 0.8);
  box-sizing: border-box;
  padding: 50px;
  margin: 10px;
}

.login h1{
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: inherit;
    font-size: 25px;
}

.login input {
    width: 100%;
    margin-bottom: 21px;
}

form [placeholder="Seu E-mail"], [placeholder="Sua senha"]{
    padding-left: 30px;
}
.login input[type="email"], .login input[type="password"] {
  border-radius: 20px;
  background: #3E3E3E;
  outline: none;
  height: 75px;
  color: white;
  font-size: 16px;
}
.login a, .login span{
    font-family: 'Raleway';
    font-size: 24px;
    color: #878787;
}
.login a:hover{
  color: white;
}
.login span{
    font-weight: bold;
}

.logar{
    padding-top: 25px;
}
.login p {
  font-family: 'Raleway';
    font-size: 24px;
    color: #878787;
}
.login input[type = submit] {
    background-image: linear-gradient(75deg,  #ffc953, #413012);
    color: white;
    font-size: 24px;
    width: 100%;
	  height:78px;
    border-radius: 11px;
}


.login  input[type = submit]:hover{
    cursor:pointer;
    background-image: linear-gradient(75deg, #413012, #ffc953 );

}

@media screen and (max-width: 426px){
  .pagina_login p {
    font-size: 13px;
    line-height: 15px;
  }
  .login {
    width: 90%;
    margin: 0px;
    padding: 25px;
    margin-top: 10px;
    margin-bottom: 49px;
    height: auto;
  }
  .login h1 {
    font-size: 20px;
  }
  .login input[type="email"], .login input[type="password"] {
    height: 48px;
  }
  .login input[type = submit] {
    height: 50px;
}
  .login a {
    font-size: 18px;
    color: #ffffff;
  }
  .login por {
    font-family: 'Raleway';
    font-size: 20px;
    color: #878787;
  }
  .por{
    font-size: 15px !important;
  }
}


/*Loading*/


.loading h1 {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #101010;
}

.loading body{
  margin:0px;
  width: 100%;
  height: 100vh;

  background: #e3e3e3;
  padding:0px;
}

.pace {
  pointer-events: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  border: 0px;
  height: 1px;
  overflow: hidden;
  background:#fcfcfc;
}

.pace .pace-progress {
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  max-width: 400px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: grey;
}

.pace.pace-inactive {
  display: none;
}

#preloader{
  width:100%;
  height:100vh;
  background:#101010;
  overflow:hidden;
  font-size: 40px;
  font-family: "Raleway";
  position:fixed;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.p {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
