@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family:'Raleway', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-thumb{
    background: rgb(116, 116, 116); 
    border-radius: 10px;
}

::-webkit-scrollbar-track{
    background:rgb(32, 32, 32);

}

a{
    text-decoration: none;
}
body{
    width: 100%;
    background: black;
    scroll-behavior: smooth;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(19, 19, 19);
    height: 90px;
    width: 100%;
    position: relative;
}

.header_content{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*BTN-Navbar*/
.btn{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 24px;
    right: 2%;
    width: auto;
    border-radius: 40px;
}
.primario{
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 10%;
  width: 90px;
  border-radius: 40px;
}
.btn-cadastro{
    padding:1em;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius:40px;
    background-image: linear-gradient(75deg,  #b1b1b1, #505050, #b1b1b1); 
    border-radius:40px;
    background-size: 300%;
    background-position: left;
    
    transition: 300ms background-position ease-in-out;
}

.btn-cadastro:hover{
    background-position: right;
}

.btn-login{
    padding:1em;
    letter-spacing: 2px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width:90px;
    background: rgb(254,215,116);
    background-image: linear-gradient(75deg,  #ffc953, #8a641f, #ffc953); 
    border-radius:40px;
    background-size: 300%;
    background-position: left;
    margin-left: 10px;
    
    transition: 300ms background-position ease-in-out;
    
}
.btn-login:hover{
    background-position: right;
}

/*Menus-Styles*/
.nav_list {
    display: flex;
}

.nav_list a{
    font-family: 'Raleway', sans-serif;
    color: #898196;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 100%;
    font-weight: bold;
}

.nav_list li{
    display: flex;
    align-items: center;
    text-align: -webkit-match-parent;
}
.nav_list a:hover {
    transition: 180ms;
    border-bottom: 2px solid rgb(149, 83, 216);
    color: rgb(177, 177, 177);
}

/*one*/

.one{
    position: relative;
    scroll-behavior: smooth;
}
.one img{
    width: 100%;
}
.container{
    position: absolute;
    height: 100px;
    width: 100%;
    top: 12%;
}
.animatin{
    height: 100%;
    display: flex;
    animation: fadeIn 1.5s forwards;
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.animatin div{
    width: 100%;
    font-size: 60px;
    font-weight: bolder;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    color: white;
}
.animatin div:nth-child(1){
    display: flex;
    justify-content: flex-end;
    animation: firstspan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.animatin div:nth-child(2){
    display: flex;
    justify-content: flex-start;
    animation: secondspan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.animatin p:nth-child(1){
    background: black;
    border-radius: 5px;
}

/*two*/

.two{
    position: relative;
}
.two img{
    width: 100%;
}
.text-1{
    font-size: 26px;
    position: absolute;
    right: 2%;
    bottom: 30%;
    color: white;
    font-weight: bold;
    width: 545px;
    text-align: center;
}
.text-2{
    font-size: 30px;
    position: absolute;
    left: 3%;
    top: 10%;
    color: white;
    width: 360px;
    text-align: center;
}

/*tree*/

.three{
    position: relative;
}
.three img{
    width: 100%;
}
.caixa1{
    height: auto;
    display: flex;
    position: absolute;
    top: 16%;
    width: 100%;
}
.caixa2{
    height: auto;
    display: flex;
    position: absolute;
    top: 46%;
    width: 100%;
}
.caixa3{
    height: auto;
    display: flex;
    position: absolute;
    top: 74%;
    width: 100%;
}
.fotinha{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
._3{
    justify-content: flex-start;
    flex-direction: inherit;
    margin-left: 15px;
}
._4{
    justify-content: flex-start;
    flex-direction: row-reverse;
    margin-right: 15px;
}
.fotinha div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    background: black;
    color: white;
    position: relative;
    height: 100%;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid #404040;
}
.fotinha .especial{
    width: 50%;
}
.fotinha h3{
    height: 135px;
    display: flex;
    align-items: flex-end;
    font-size: 20px;
}
.fotinha p{
    display: flex;
    height: 100px;
    align-items: center;
    font-size: 20px;
    text-align: center;
}
.fotinha img{
    width: 50%;
    bottom: 176px;
    position: absolute;
}

@keyframes fadeIn{
    0%{
        opacity:0;
        transform: scale(1);
    }
    50%{
        opacity: 1;
        transform:scale(1);
    }
    100%{
        opacity: 1;
        transform:scale(1);
    }
}
@keyframes firstspan{
    0%{
        transform: translateX(100%);
    }
    50%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes secondspan{
    0%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@media screen and (max-width: 426px){
    header{
        justify-content: space-between;
        
    }
    .header_content{
        width: 100%;
        padding: 10px;
    }
    .header_content{
        font-size: 90%;
        padding: 5px;
    }
    .nav_list a{
        padding: 6px;
    }
    .btn{
        display: flex;
        position: initial;
        align-items: center;
        justify-content: flex-end;
        top: 24px;
        right: 4%;
        width: 50%;
        border-radius: 40px;
    }
    .btn-cadastro{
        font-size: 100%;
        letter-spacing: 0px;
        width: auto;
        padding: 4px;
    }
    .btn-login{
        padding: 4px;
        letter-spacing: 0px;
        width: auto;
        font-size: 100%;
        margin-left: 5px;
    }
    .animatin div{
        font-size: 200%;
    }
    .text-1{
        font-size: 10px;
        width: 210px;
    }
    .text-2{
        font-size: 10px;
        width: 120px;
    }
    .fotinha div{
        width: 90%;
        padding: 15px;
    }
    .fotinha img{
        width: 42%;
        bottom: 100px;
    }
    .fotinha h3{
        height: 44px;
        font-size: 78%;
    }
    .fotinha p {
        height: 63px;
        font-size: 70%;
    }
    .fotinha .especial{
        width: 70%;
    }
}
@media screen and (max-width:376px){
    .caixa1{
        top: 10%;
    }
    .caixa2{
        top: 43%;
    }
    .caixa3{
        top: 73%;
    }
    .fotinha div{
        width: 90%;
        padding: 7px 8px;
    }
    .fotinha img {
        width: 50%;
        bottom: 83px;
    }    
    .fotinha h3{
        height: 33px;
        font-size: 63%;
    }
    .fotinha p {
        height: 58px;
        font-size: 60%;
    }
}