@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(180deg, #181818 100%, #181818 0%) ;
    height: 100%;
    width: 100%;
    display: grid;
    position: relative;
    grid-template-columns: 75px auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "sidnav header header" "sidnav main main";
    font-family: raleway;
}


/*-------------------------cabecalho-------------------------*/

.cabecalho{
    grid-area: header;
    width: 100%;
    display: flex;
    right: 0px;
    justify-content: center;
    height: 54px;
    align-items: center;
    background: #161515;
    position: fixed;
    z-index: 1;
}
.cabecalho div{
    height: 50px;
    display: flex;
    align-items: center;
}
.cabecalho .boxLogo{
    background: linear-gradient(180deg, #181818 100%, #181818 0%);
    width: 75px;
    position: absolute;
    left: 0px;
    height: 54px;
    border-right: #c4c4c481 1px solid;
}
.cabecalho .boxLogo a{
    justify-content: center;
    display: flex;
    margin-top: 12px;
}
.cabecalho .boxLogo img {
    width: 52%;
}
.cabecalho .boxtexto{
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 4px;
}
.cabecalho .boxtexto i {
    position: absolute;
    left: 18px;
    color: #404040;
    font-weight: 600;
}
.cabecalho .boxtexto .search-bar{
    height: 100%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 0px;
    width: 100%;
    border-radius: 18px;
    border: 1px solid white;
}
.search-text{
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    line-height: 0;
    width: 100%;
    height: 100%;
    background: none;
    padding-left: 40px;
    padding-right: 10px;
}
.cabecalho .boxIcones{
    position: absolute;
    right: 10px;
    height: 100%;
}
.cabecalho .boxIcones ul{
    display: flex;
    list-style: none;
    align-items: center;
    height: 100%;
    width: 120px;
}
.cabecalho .boxIcones ul li{
    margin-left: 20px;
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
}
.cabecalho .boxIcones ul li a {
    font-size: 20px;
    color: aliceblue;
}
.cabecalho .boxIcones ul li #CaixaDeCoc{
    height: 0px;
    position: absolute;
    right:0px;
    top: 65px;
    background: url(../image/desenho-abstrato-em-cinza-claro_53876-59274.png) #131313;
    background-blend-mode: overlay;
    background-size: cover;
    width: 220px;
    opacity: 1;
    display: none;
    flex-direction: column;
    animation: configurações 0.2s forwards;
}
.cabecalho .boxIcones ul li #CaixaDeCoc ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 43%;
    border-bottom: 1px solid wheat;
}
.cabecalho .boxIcones ul li #CaixaDeCoc ul:nth-child(2){
    height: 215px;
}
.cabecalho .boxIcones ul li #CaixaDeCoc ul li {
    width: 100%;
    padding-left: 20px;
}
.cabecalho .boxIcones ul li #CaixaDeCoc ul li a {
    text-decoration: none;
    font-family: raleway;
    font-weight: bold;
    font-size: 100%;
}
.cabecalho .boxIcones ul li #CaixaDeCoc div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 57px;
}
.cabecalho .boxIcones ul li #CaixaDeCoc div h5{
    color: white;
    padding: 5px;
    border: 0.7px solid white;
}
.cabecalho .boxIcones ul li #CaixaDeCoc div h6{
    position: absolute;
    bottom: 0;
    color: white;
}
.cabecalho .boxIcones ul li span {
    height: 100%;
    cursor: pointer;
    width: 100%;
    align-items: center;
    display: flex;
}
.cabecalho .boxIcones ul li span img{
    width: 100%;
    border-radius: 50%;
}

/*-------------------------sidnav-------------------------*/

.sidnav{
    grid-area: sidnav;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75px;
    position: fixed;
    height: 91%;
    top: 54px;
    z-index: 1;
    border-right: #c4c4c481 1px solid;
}
.sidnav input{
    margin-top: 10px;
    z-index: -1;
    opacity: 0;
}
.sidnav label{
    z-index: -1;
    opacity: 0;
}
.sidnav ul {
    margin-top: 10px;
    list-style: none;
    height: 100%;
    width: 100%;
}
.sidnav ul li{
    display: flex;
    margin-top: 40px;
    justify-content: center;
}
.sidnav ul li a img{
    width: 35px;
}
.sidnav ul li button{
    background: none;
    cursor: pointer;
}
.sidnav ul li button img{
    width: 35px;
}

.sidnav ul li #caixaDeNot {
    position: absolute;
    width: 664px;
    height: 400px;
    display: none;
    top: 14px;
    flex-direction: column;
    background: #0E0E0E;
    left: 100%;
    overflow-y: scroll;
    padding-bottom: 10px;
}
.sidnav ul li #caixaDeNot .caixaDeNot_Box {
    display: flex;
    width: 100%;
}
.sidnav ul li #caixaDeNot .caixaDeNot_Box h3{
    width: 100%;
    padding: 6px;
    cursor: pointer;
    text-align: center;
    background: rgb(254,215,116);
    background: linear-gradient(121deg, rgba(254,215,116,1) 0%, rgba(166,139,83,1) 50%, rgba(88,72,54,1) 100%);
}
.sidnav ul li #caixaDeNot .conteudo{
    height: 100%;
    padding: 20px;
    display: flex;
    margin: 0 auto;
    width: 80%;
    border-bottom: 1px solid white;
    margin-top: 10px;
}
.sidnav ul li #caixaDeNot .conteudo .Missao{
    display: block;
    width: 75%;
    color: white;
}
.sidnav ul li #caixaDeNot .conteudo picture{
    height: 100%;
}
.sidnav ul li #caixaDeNot .conteudo picture img{
    width: 100px;
}
.sidnav ul li #caixaDeNot .conteudo .Missao h5{
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
}
.sidnav ul li #caixaDeNot .conteudo .Missao h6{
    font-size: 20px;
    text-align: end;
}
.sidnav ul li #caixaDeNot .conteudo .Missao p{
    font-size: 19px;
    font-weight: 600;
    padding-left: 10px;
}


.sidnav ul li #caixaDeAdd{
    position: absolute;
    width: 664px;
    height: 400px;
    display: none;
    top: 14px;
    flex-direction: column;
    background: #0E0E0E;
    left: -100%;
    animation: add .3s forwards;
}
.sidnav ul li #caixaDeAdd button {
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
    font-size: 40px;
}
.sidnav ul li #caixaDeAdd h2{
    color: white;
    font-weight: 100;
    padding-top: 30px;
    padding-left: 30px;
}
.sidnav ul li #caixaDeAdd form{
    display: flex;
    height: 75%;
    padding: 10px;
}
.sidnav ul li #caixaDeAdd label {
    padding: 15px 15px;
    width: 40%;
    background-color: #878787;
    color: #FFF;
    text-transform: uppercase;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    cursor: pointer;
    opacity: 1;
    z-index: 1;
    border-radius: 15px;
    margin: 10px;
}
.sidnav ul li #caixaDeAdd label p{
    height: 110px;
}
.sidnav ul li #caixaDeAdd label  hr {
    background: #B0B0B0;
    height: 1px;
}
.sidnav ul li #caixaDeAdd label img {
    width: 50%;
    margin: 10px auto;
}
.sidnav ul li #caixaDeAdd input[type = "file"]{
   
    display: none;
}
.sidnav ul li  #caixaDeAdd .grupo{
    top: 10px;
    right: 50%;
}
.sidnav ul li #caixaDeAdd .grupo input[type = "checkbox"]{
    display: none;
}
.sidnav ul li #caixaDeAdd .grupo label{
    width: 100%;
    padding: 8px;
    background: linear-gradient(90deg, #FF055F 4.85%, #4E808B 100%);
    border-radius: 10px;
    text-transform: none;
    text-align: center;
}
.sidnav ul li #caixaDeAdd input[type = "submit"]{
    position: absolute;
    bottom: 15px;
    right: 20px;
    height: 40px;
    font-size: 15px;
    border-radius: 10px;
    width: 75px;
    opacity: 1;
    z-index: 1;
    background: yellow;
}
.sidnav ul li #caixaDeAdd input[type = "reset" ]{
    position: absolute;
    bottom: 15px;
    right: 100px;
    height: 40px;
    font-size: 15px;
    border-radius: 10px;
    width: 75px;
    opacity: 1;
    z-index: 1;
    background: red;
}
.sidnav ul li #caixaDeAdd .subCategorias{
    position: absolute;
    width: 100px;
    height: auto;
    right: 80px;
    top: 100px;
    padding: 5px;
    display: none;
}
.sidnav ul li #caixaDeAdd .subCategorias input[type = "checkbox"]{
    display: none;
}
.sidnav ul li #caixaDeAdd .subCategorias label{
    height: 100%;
    width: 100%;
    margin: 0px;
    text-align: center;
    padding: 9px;
    margin-top: 6px;
    background: none;
    border: 1px solid #878787;
}
#SubCinema{
    top: 55px !important;
    font-size: small;
}


/*-------------------------principal-------------------------*/

.principal{
    grid-area: main;
    min-height: 100vh;
    width: 100%;
    margin-top: 54px;
    background-image: url(../image/backgroud.png);
}

/*-------------------------Home-------------------------*/

.home{
    display: block;
}
.home .boxCategoria{
    height: 110px;
    background: #171717;
    margin-bottom: 20px;
    justify-content: center;
    width: 100%;
    display: flex;
    padding: none;
}
.home .boxCategoria ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.home .boxCategoria ul li{
    width: 100%;
    display: flex;
    justify-content: center;
}
.home .boxCategoria ul li a{
    padding: 0.5rem;
    color: antiquewhite;
    text-decoration: none;
    border: 1px solid goldenrod;
    border-radius: 10px;
    font-size: 16px;
}
.home .titulo {
    color: #B0B0B0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home .titulo h1{
    width: 30%;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 7px;
}
.home .caixaDeFeed{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home .caixaDeFeed .centro{
    width: 55%;
    background: #40404038 15%;
    border-radius: 15px;
    padding-bottom: 30px;
}
.home .caixaDeFeed .centro .linha{
    width: 100%;
    padding: 0 50px;
    margin: 10px 0px;
}
.home .caixaDeFeed .publicação{
    position: relative;
}
.home .caixaDeFeed .publicação .headerDaPub{
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
}
.home .caixaDeFeed .publicação .headerDaPub .FotoDePerfil{
    width: 10%;
    position: relative;
}
.home .caixaDeFeed .publicação .headerDaPub .FotoDePerfil img{
    width: 100%;
    border-radius: 50%;
    cursor: pointer;
}
.home .caixaDeFeed .publicação .headerDaPub .FotoDePerfil img:hover ~ .miniCaixa{
    display: block;
}
.home .caixaDeFeed .publicação .headerDaPub .headerNome{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2px;
}
.home .caixaDeFeed .publicação .headerDaPub .headerNome h3{
    width: 100%;
    color: white;
    margin-bottom: 5px;
    font-size: 18px;
    padding: 0px 8px;
}
.home .caixaDeFeed .publicação .headerDaPub .headerNome .descricao{
    color: white;
    position: relative;
}
.home .caixaDeFeed .publicação .headerDaPub .headerNome .descricao p {
    font-size: 100%;
    width: 80%;
    padding: 0px 8px;
}
.home .caixaDeFeed .publicação .headerDaPub .headerNome #categorias{
    margin-top: 2px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 3px;
} 
.home .caixaDeFeed .publicação .headerDaPub .headerNome #categorias a{
    color: white;
    border: 1px solid #4476D9;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    margin-right: 5px;
}
.home .caixaDeFeed .publicação .headerDaPub .headerNome i {
    position: absolute;
    right: 20px;
    top: 18px;
    font-size: 25px;
    transform: rotate(90deg);
    color: #878787;
    cursor: pointer;
}
.boxOption{
    position: absolute;
    right: 20px;
    width: auto;
    padding: 12px;
    height: auto;
    display: none;
    z-index: 2;
    top: 48px;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(144.79deg, #404040 0%, #404040e0 45.38%, rgb(64 64 64 / 45%) 99.18%);
}
.boxOption button {
    background: none;
    height: 25px;
    font-size: 100%;
    color: azure;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
}
.boxOption .linha{
    padding: 0 7px !important;
    margin-bottom: 15px !important;
}
.boxOption .boxDenuciar{
    display: none;
    background: #161515;
    flex-direction: column;
    align-items: center;
}
.boxOption .boxDenuciar p{
    font-size: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 90%;
    font-weight: bolder;
    color: aliceblue;
}
.boxOption .boxDenuciar form{
    display: flex;
    padding: 8px;
    flex-direction: column;
    width: 100%;
}
.boxOption .boxDenuciar form input{
    display: none;
}
.boxOption .boxDenuciar form label{
    background: gray;
    padding: 9px 12px;
    margin-bottom: 8px;
    border-radius: 12px;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    width: 100%;
    color: white;
}
.home .caixaDeFeed .publicação .PubImagem{
    padding: 10px 55px;
}
.home .caixaDeFeed .publicação .PubImagem img{
    width: 100%;
    border-radius: 12px; 
}
.home .caixaDeFeed .publicação .botões{
    height: 30px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.home .caixaDeFeed .publicação .botões i {
    font-size: 21px;
    color: #878787;
    width: 50%;
    display: block;
    text-align: center;
}
.home .caixaDeFeed .publicação .botões .caixaDeCompartilhar{
    display: none;
}



.miniCaixa{
    position: absolute;
    background: rgb(233, 217, 217);
    width: 350px;
    border-radius: 15px;
    top: 40px;
    display: none;
    z-index: 2;
}
.miniCaixa:hover{
    display: block;
}
.miniCaixa .miniCaixaHeader{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50px auto;
}
.miniCaixa .miniCaixaHeader .caixaDeFoto{
    height: 100%;
    width: 100%;
    padding: 5px;
}
.miniCaixa .miniCaixaHeader .caixaDeFoto img{
    width: 100%;
    border-radius: 50%;
}
.miniCaixa .miniCaixaHeader .miniHeaderNome{
    color: rgb(15, 15, 15);
    padding-top: 7px;
    padding-left: 7px;
}
.miniCaixa .miniCaixaHeader .miniHeaderNome h3{
    font-size: 100%;
}
.miniCaixa .caixaDeNumeros{
    display: flex;
    width: 100%;
}
.miniCaixa .caixaDeNumeros span{
    font-size: 100%;
    text-align: center;
    width: 100%;
    height: 54px;
    color: #0E0E0E;
    font-weight: 900;
}
.miniCaixa .miniCaixaDePub{
    display: flex;
    height: 130px;
    width: 100%;
}
.miniCaixa .miniCaixaDePub div{
    width: 100%;
}
.miniCaixa .miniCaixaDePub div a img{
    width: 100%;
    height: 100%;
    border-radius: 0px !important;
}
.miniCaixa .miniCaixaBtn{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.miniCaixa .miniCaixaBtn button{
    width: 100%;
    cursor: pointer;
    background: none;
}

/*-------------------------Caixa de perfil-------------------------*/
.principal .caixaDePerfil{
    height: 250px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
}
.principal .caixaDePerfil .imagem{
    width: 140px;
    left: 0;
    top: 22px;
    position: absolute;
}
.principal .caixaDePerfil .imagem img{
    border-radius: 100%;
    width: 100%;
}
.principal .caixaDePerfil .border{
    position: absolute;
    right: 0px;
} 



.principal .Perfil{
    display: flex;
    height: 50%;
    flex-direction: column;
    position: absolute;
    left: 160px;
}
.principal .Perfil h2{
    font-size: 2rem;
    color: antiquewhite;
    margin-bottom: 10px;
}
.principal .Perfil h3{
    color: antiquewhite;
    margin-bottom: 10px;
}
.principal .Perfil p{
    color: antiquewhite;
    font-size: 20px;
} 




.principal .edicao{
    background: aquamarine;
    position: absolute;
    right: 50px;
    top: 50px;
}
.principal .edicao a {
    text-decoration: none;
    color: #181818;
}



.principal .caixaDeLinks {
    width: 229px;
    height: 49px;
    display: flex;
    position: absolute;
    bottom: 0px;
}
.principal .caixaDeLinks div {
    height: 80%;
    width: 100%;
}
.principal .caixaDeLinks div a{
    height: 100%;
}
.principal .caixaDeLinks div a img{
    height: 100%;
    border-radius: 50%;
}



.principal .caixaDePub {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 50px;
    margin-top: 50px;
}
.principal .caixaDePub div{
    width: 100%;
    height: 291px;
    padding: 7px;
}
.principal .caixaDePub div img{
    width: 100%;
    height: 100%;
}


.principal .linha {
    width: 100%;
    padding: 0 50px;
    margin-bottom: 15px;
}
.principal .linha hr{
    background: #404040;
    width: 100%;
    height: 1px;
}


/*-------------------------Keyframes-------------------------*/

@keyframes add{
    to{
        left:190%;
    }
}
@keyframes configurações {
    to{
        top: 45px;
        height: 400px;
    }
}

/*-------------------------Media screen-------------------------*/

@media screen and (max-width: 426px){
    body{
        grid-template-areas: "header header header" "main main main" "sidnav sidnav sidnav";
    }
    .cabecalho{

    }
    .cabecalho .boxLogo{
        border: none;
        background: none;
    }
    .cabecalho .boxLogo img {
        width: 40%;
    }
    .cabecalho .boxtexto{
        width: 70%;
    }
    .cabecalho .boxtexto .search-bar {
        height: 73%;
    }
    .cabecalho .boxLogo a {
        margin-top: 0px;
    }
    .cabecalho .boxIcones ul {
        width: 100%;
    }
    .cabecalho .boxIcones #tempo {
        display: none;
    }
    .cabecalho .boxIcones ul li span {
        width: 80%;
    }
    .cabecalho .boxIcones ul li #CaixaDeCoc {
        right: -8px;
        width: 170%;
    }
    .sidnav{
        grid-area: sidnav;
        display: flex;
        width: 100%;
        position: fixed;
        bottom: 0px;
        top: auto;
        height: auto;
        background: rgba(18, 18, 18, 0.8);
        backdrop-filter: blur(4px);
        justify-content: center;
        align-items: center;
    }
    .sidnav ul {
        display: flex;
    }
    .sidnav ul li {
        margin-top: 0px;
        width: 100%;
    }
    .principal{
        padding-bottom: 100px;
    }
    .principal .caixaDePub {
        padding: 0px;
    }
    .principal .caixaDePub div {
        height: 180px;
        padding: 10px;
    }
    .home .boxCategoria{
        
    }
    .home .boxCategoria ul {
        flex-wrap: wrap;
    }
    .home .boxCategoria ul  li {
        width: 33%;
    }
    .home .boxCategoria ul li a {
        padding: 0px;
        width: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
    }
    .home .titulo h2{
        display: none;
    }
    .home .caixaDeFeed .centro {
        width: 100%;
        background: none;
    }    
    .home .caixaDeFeed .publicação .headerDaPub {
        padding: 10px 10px;
    }
    .home .caixaDeFeed .publicação .headerDaPub .FotoDePerfil {
        width: 15%;
    }
    .home .caixaDeFeed .publicação .headerDaPub .headerNome i {
        margin-right: 5px;
        font-size: 20px;
    }
    .home .caixaDeFeed .publicação .PubImagem {
        padding: 2px 20px;
    }
    .home .caixaDeFeed .publicação .PubImagem img {
        width: 100%;
        border-radius: 10px;
    }
    .home .caixaDeFeed .publicação .botões i {
        width: 106px;
        display: block;
    }
    .home .caixaDeFeed .centro .linha {
        padding: 0 20px;
    }
    .miniCaixa{
        width: 285px;
    }
    .miniCaixa .miniCaixaDePub{
        height: 100px;
    }
}
@media screen and (max-width: 379px){
    .cabecalho .boxtexto{
        width: 65%;
    }
    .cabecalho .boxIcones ul li #CaixaDeCoc {
        width: 180%;
    }
    .home .titulo h2{
        font-size: 100%;
    }
}
@media screen and (max-width: 320px){
    .cabecalho .boxtexto{
        width: 60%;
    }
    .cabecalho .boxIcones ul li #CaixaDeCoc {
        width: 145%;
    }
    .home .boxCategoria ul li a {
        padding: 0px;
        width: 92px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
    }
    .sidnav ul li #caixaDeNot {
        width: 319px;
        height: 412px;
        top: -410px;
        left: 0px;
        right: 0px;
    }
    
}