@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

.city{
    font-size: 32px;
}

.date {
    font-size: 16px;
}

.container-temp{
    font-size: 100%;
    grid-area: grau;
    height: 100% !important;
}
.card-body {
    display: grid !important;
    grid-template-columns: 60% 40%;
    grid-template-rows:  auto auto;
    grid-template-areas: " img city" "img grau" ;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;
}
.city{
    font-size: 50%;
    grid-area: city;
    height: 100% !important;
}
.date{
    font-size: 100%;
    display:none !important;
}
.container-img{
    grid-area: img;
    height: auto !important;
    width: 80%;
    height: 100%;
}
.container-img img{
    width: 100%;
    padding: 5px;
    background: gray;
    border-radius: 50%;
}
.container-temp mx-4 my-3{
    font-size: 50%;
}
.weather .py-2 {
    font-size: 100%;
    display: none;
}
.weather{
    font-size: 0px;
    display: none !important;
}

.low-high {
    font-size: 0px;
    display: none !important;
}
.height{
    height: 0px !important;
}
@media screen and (max-width: 426px){
    .cabecalho .boxIcones .card-body {
        display: none !important;
    }
}